# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

# Python #

venv/
.env

### Django ###
*.log
__pycache__
migrations/
db.sqlite3
